@import "../../variables.module";
.header{
  display: flex;
  justify-content: space-between;
  background-color: $background-dark;
  height: 3em;
  border-bottom: solid 1px $white-color;
  &__logo{
    display: block;
    width: 3em;
  }
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__menu__expander{
      display: none !important;
      position: absolute;
      font-size: 6em;
      width: 1em;
      height: 1em;
      line-height: 1em;
      background-color: $background-dark;
      color: $teal-color;
      border: none;
      transform: translateX(-100%);
      margin-right: 1.5em;
    }
    &__mobile{
      position: absolute;
      flex-flow: column wrap;
      background-color: rgba(31, 31, 31, 0.95);
      width: 100%;
      height: auto;
      border: solid 1px $text-light;
      top: 0;
      right: 0;
      z-index: 999;
      &__menu{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        height: 1em;
        width: 100%;
        color: $text-light;
        font-size: 6em;
        span{
          display: inline-block;
          font-size: 1em;
        }
        &__expander{
          display: inline-block;
          font-size: 1em;
          line-height: 1em;
          height: 1em;
          width: 1em;
          border: none;
          background-color: $background-dark;
          color: $teal-color;
          margin: 0;
        }
      }
      a{
        display: flex;
        justify-content: space-between;
        font-size: 3em;
        text-decoration: none;
        width: 45%;
        margin: 1em 0 0 1em ;
        color: $text-light;
        padding-bottom: 0.5em;
        &:active{
          background-color: lighten($background-dark, 25%);
        }
        span{
          font-size: 1em;
          color: $teal-color;
        }
      }
    }
    &__link{
      text-decoration: none;
      color: $text-light;
      text-align: center;
      line-height: 3em;
      width: 7em;
      height: 100%;

      &:hover{
        border: solid 2px $teal-color;
        color: $white-color;
      }
    }
    &__settings{
      display: block;
      width: 3em;
    }
  }

}