@import "../../variables.module";

.footer{
  width: 100%;
  background-color: $primary-color;
  padding-top: 0.5em;
  position: relative;
  z-index: 999;
  &__info{
    display: flex;
    justify-content: space-around;
    width: 100%;
    a{
      text-decoration: none;
      color: $white-color;
      font-weight: bold;
      transition: all 0.2s;
      &:hover{
        color: $secondary-color;

      }
    }
    &__logo{
      display: block;
      width: 3em;
    }
  }
}