* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif; }

.selector-button-template, .feed__sidebar__categories button, .addPicture__sidebar__selectors button {
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background-color: #1f1f1f;
  border: solid 1px #fff;
  border-radius: 0.5em;
  color: #cfcfcf;
  transition: all 0.1s; }
  .selector-button-template:hover, .feed__sidebar__categories button:hover, .addPicture__sidebar__selectors button:hover {
    background-color: #00c2bf;
    color: #fff;
    cursor: pointer; }

::-webkit-scrollbar {
  width: 0.5em; }

::-webkit-scrollbar-track {
  background: #1f1f1f; }

::-webkit-scrollbar-thumb {
  background: #00c2bf;
  border-radius: 0.5em; }

::-webkit-scrollbar-thumb:hover {
  background: #007674; }

.selector-button-template, .feed__sidebar__categories button, .addPicture__sidebar__selectors button {
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background-color: #1f1f1f;
  border: solid 1px #fff;
  border-radius: 0.5em;
  color: #cfcfcf;
  transition: all 0.1s; }
  .selector-button-template:hover, .feed__sidebar__categories button:hover, .addPicture__sidebar__selectors button:hover {
    background-color: #00c2bf;
    color: #fff;
    cursor: pointer; }

.home__page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  min-height: 100vh;
  width: 100%;
  background-color: #1f1f1f;
  padding: 0 5% 0 5%; }
  .home__page h1 {
    color: #fff;
    font-size: 3em; }
    .home__page h1 span {
      color: #00c2bf;
      font-size: 1em; }
  .home__page h2 {
    color: #fff;
    font-size: 1.5em; }
    .home__page h2 span {
      color: #00c2bf;
      font-size: 1em; }
  .home__page__btn {
    display: block;
    margin-top: 3em;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    line-height: 2.3em;
    color: #cfcfcf;
    width: 8em;
    height: 2.3em;
    border: solid 1px #cfcfcf;
    border-radius: 0.3em;
    transition: all 0.2s; }
    .home__page__btn:hover {
      border: solid 1px #fff;
      color: #fff;
      background-color: #00c2bf; }

.selector-button-template, .feed__sidebar__categories button, .addPicture__sidebar__selectors button {
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background-color: #1f1f1f;
  border: solid 1px #fff;
  border-radius: 0.5em;
  color: #cfcfcf;
  transition: all 0.1s; }
  .selector-button-template:hover, .feed__sidebar__categories button:hover, .addPicture__sidebar__selectors button:hover {
    background-color: #00c2bf;
    color: #fff;
    cursor: pointer; }

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f1f1f;
  height: 3em;
  border-bottom: solid 1px #fff; }
  .header__logo {
    display: block;
    width: 3em; }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__nav__menu__expander {
      display: none !important;
      position: absolute;
      font-size: 6em;
      width: 1em;
      height: 1em;
      line-height: 1em;
      background-color: #1f1f1f;
      color: #00c2bf;
      border: none;
      transform: translateX(-100%);
      margin-right: 1.5em; }
    .header__nav__mobile {
      position: absolute;
      flex-flow: column wrap;
      background-color: rgba(31, 31, 31, 0.95);
      padding-bottom: 1em;
      width: 100%;
      height: auto;
      border: solid 1px #cfcfcf;
      top: 0;
      right: 0;
      z-index: 999; }
      .header__nav__mobile a {
        display: flex;
        justify-content: space-between;
        font-size: 3em;
        text-decoration: none;
        width: 100%;
        padding: 1em 0 0 1em;
        color: #cfcfcf; }
        .header__nav__mobile a:active {
          background-color: #5f5f5f; }
      .header__nav__mobile__menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        height: 1em;
        width: 100%;
        color: #cfcfcf;
        font-size: 6em; }
        .header__nav__mobile__menu span {
          display: inline-block;
          font-size: 1em; }
        .header__nav__mobile__menu__expander {
          display: inline-block;
          font-size: 1em;
          line-height: 1em;
          height: 1em;
          width: 1em;
          border: none;
          background-color: #1f1f1f;
          color: #00c2bf;
          margin: 0; }
    .header__nav__link {
      text-decoration: none;
      color: #cfcfcf;
      text-align: center;
      line-height: 3em;
      width: 7em;
      height: 100%; }
      .header__nav__link:hover {
        border: solid 2px #00c2bf;
        color: #fff; }
    .header__nav__settings {
      display: block;
      width: 3em; }

.selector-button-template, .feed__sidebar__categories button, .addPicture__sidebar__selectors button {
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background-color: #1f1f1f;
  border: solid 1px #fff;
  border-radius: 0.5em;
  color: #cfcfcf;
  transition: all 0.1s; }
  .selector-button-template:hover, .feed__sidebar__categories button:hover, .addPicture__sidebar__selectors button:hover {
    background-color: #00c2bf;
    color: #fff;
    cursor: pointer; }

.footer {
  width: 100%;
  background-color: #1f1f1f;
  padding-top: 0.5em; }
  .footer__info {
    display: flex;
    justify-content: space-around;
    width: 100%; }
    .footer__info a {
      text-decoration: none;
      color: #cfcfcf;
      transition: all 0.2s; }
      .footer__info a:hover {
        color: #00c2bf; }
    .footer__info__logo {
      display: block;
      width: 3em; }

.selector-button-template, .feed__sidebar__categories button, .addPicture__sidebar__selectors button {
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background-color: #1f1f1f;
  border: solid 1px #fff;
  border-radius: 0.5em;
  color: #cfcfcf;
  transition: all 0.1s; }
  .selector-button-template:hover, .feed__sidebar__categories button:hover, .addPicture__sidebar__selectors button:hover {
    background-color: #00c2bf;
    color: #fff;
    cursor: pointer; }

.feed__wrapper {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100vh;
  justify-content: space-between;
  background-color: #1f1f1f;
  padding: 0.5em 0 0 0.5em; }

.feed {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  row-gap: 0.4em;
  padding-right: 0.5em;
  width: 100%; }
  .feed__mobile {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 50%; }
  .feed__content {
    width: 100%;
    display: inline-block; }
  .feed__sidebar {
    padding: 0 0.5em 0 0.5em; }
    .feed__sidebar__pc {
      width: 20%;
      display: inline-block;
      height: 20em; }
    .feed__sidebar h3 {
      color: #cfcfcf; }
    .feed__sidebar__categories {
      display: flex;
      flex-flow: row wrap; }

.selector-button-template, .feed__sidebar__categories button, .addPicture__sidebar__selectors button {
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background-color: #1f1f1f;
  border: solid 1px #fff;
  border-radius: 0.5em;
  color: #cfcfcf;
  transition: all 0.1s; }
  .selector-button-template:hover, .feed__sidebar__categories button:hover, .addPicture__sidebar__selectors button:hover {
    background-color: #00c2bf;
    color: #fff;
    cursor: pointer; }

.pictureBlock {
  display: inline-block;
  min-width: 25%; }
  .pictureBlock__image__wrapper {
    margin: 0.2em; }
  .pictureBlock__image {
    position: relative;
    width: 100%;
    height: 15em;
    aspect-ratio: auto;
    border-radius: 0.3em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px #8f8f8f; }
    .pictureBlock__image:hover {
      border: solid 2px #00c2bf; }
    .pictureBlock__image__info {
      display: flex;
      flex-flow: column-reverse nowrap;
      justify-content: space-between;
      position: absolute;
      background: #1f1f1f;
      padding: 0.3em 0.5em 0.3em 0.5em;
      border: solid 1px #cfcfcf;
      border-radius: 0.5em;
      max-width: 18em;
      height: 7em;
      overflow: scroll;
      overflow-x: hidden;
      transform: translateY(100%) translateX(5%);
      z-index: 999; }
      .pictureBlock__image__info h3 {
        display: block;
        color: #cfcfcf; }
      .pictureBlock__image__info__selector {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.2em 0.5em 0.2em 0.5em;
        margin: 0.2em 0.2em 0.2em 0.2em;
        background-color: #1f1f1f;
        border: solid 1px #fff;
        border-radius: 0.5em;
        color: #cfcfcf;
        height: 2em;
        font-size: 0.7em; }
        .pictureBlock__image__info__selector__wrapper {
          position: relative;
          flex-wrap: wrap;
          display: flex;
          max-width: 18em; }
    .pictureBlock__image__expander__up {
      width: 2em;
      height: 2em;
      position: absolute;
      transform: translateY(-110%) translateX(10%) rotate(-90deg);
      border: none;
      background: transparent;
      color: #00c2bf;
      font-size: 2em;
      font-weight: 900;
      -webkit-text-stroke: 1px #000; }
    .pictureBlock__image__expander__down {
      width: 2em;
      height: 3em;
      border: 1px solid #cfcfcf;
      border-radius: 0.5em;
      background: #1f1f1f;
      color: #00c2bf;
      padding: 0.2em 0;
      font-size: 0.9em;
      font-weight: 900;
      transform: rotate(90deg); }

.selector-button-template, .feed__sidebar__categories button, .addPicture__sidebar__selectors button {
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background-color: #1f1f1f;
  border: solid 1px #fff;
  border-radius: 0.5em;
  color: #cfcfcf;
  transition: all 0.1s; }
  .selector-button-template:hover, .feed__sidebar__categories button:hover, .addPicture__sidebar__selectors button:hover {
    background-color: #00c2bf;
    color: #fff;
    cursor: pointer; }

.picture__wrapper {
  display: flex; }
  .picture__wrapper__image {
    aspect-ratio: auto;
    width: 50%;
    align-items: center; }
    .picture__wrapper__image img {
      width: 100%; }
  .picture__wrapper__sidebar {
    margin-left: 5em; }
    .picture__wrapper__sidebar h1 {
      color: #cfcfcf; }
    .picture__wrapper__sidebar h2 {
      color: #cfcfcf;
      margin-bottom: 1em; }
    .picture__wrapper__sidebar__selectors {
      display: flex;
      flex-flow: row wrap;
      color: #cfcfcf;
      max-width: 80%;
      row-gap: 0.2em; }
      .picture__wrapper__sidebar__selectors span {
        margin-right: 1em;
        border: solid 1px #00c2bf;
        border-radius: 0.5em;
        background: #1f1f1f;
        padding: 0.3em 0.5em 0.3em 0.5em; }
    .picture__wrapper__sidebar__delete {
      margin: 3em 0; }
      .picture__wrapper__sidebar__delete a {
        text-decoration: none;
        color: #cfcfcf;
        border: solid 1px #ff0000;
        border-radius: 0.5em;
        padding: 0.3em 0.5em 0.3em 0.5em; }
        .picture__wrapper__sidebar__delete a:hover {
          background: #ff0000;
          color: #fff;
          border: #fff solid 1px; }

.selector-button-template, .feed__sidebar__categories button, .addPicture__sidebar__selectors button {
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background-color: #1f1f1f;
  border: solid 1px #fff;
  border-radius: 0.5em;
  color: #cfcfcf;
  transition: all 0.1s; }
  .selector-button-template:hover, .feed__sidebar__categories button:hover, .addPicture__sidebar__selectors button:hover {
    background-color: #00c2bf;
    color: #fff;
    cursor: pointer; }

.addPicture {
  display: flex;
  background: #1f1f1f;
  padding-top: 1em;
  min-height: 100vh; }
  .addPicture__load {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 40%;
    aspect-ratio: 1/1;
    margin: 0 2em 1em 1em; }
    .addPicture__load::after {
      content: "";
      position: absolute;
      min-width: 100%;
      height: 100%;
      background-color: black;
      opacity: 60%;
      border: solid 2px #00c2bf;
      border-radius: 0.5em; }
    .addPicture__load__input {
      isolation: isolate;
      z-index: 99; }
      .addPicture__load__input p {
        color: #cfcfcf; }
      .addPicture__load__input input {
        width: 15em;
        height: 2em;
        background: #454545;
        border: #cfcfcf;
        color: #cfcfcf; }
  .addPicture__sidebar {
    display: flex;
    flex-flow: wrap column; }
    .addPicture__sidebar p {
      font-size: 2em;
      color: #cfcfcf; }
    .addPicture__sidebar__title {
      padding-bottom: 2em; }
      .addPicture__sidebar__title input {
        width: 15em;
        height: 2em;
        background: #454545;
        border: #cfcfcf;
        color: #cfcfcf; }
    .addPicture__sidebar__selectors {
      padding-bottom: 2em; }
    .addPicture__sidebar__submit a {
      background: #1f1f1f;
      border: solid 1px #00c2bf;
      border-radius: 0.3em;
      color: #cfcfcf;
      text-decoration: none;
      text-align: center;
      padding: 0.2em 0.5em 0.2em 0.5em;
      width: 7em;
      height: 1.5em; }
      .addPicture__sidebar__submit a:hover {
        cursor: pointer;
        background-color: #00c2bf;
        border: solid 1px #fff;
        color: #fff; }
    .addPicture__sidebar__submit__error {
      margin-bottom: 0.5em; }
      .addPicture__sidebar__submit__error p {
        color: #ff0000;
        font-size: 1em; }
      .addPicture__sidebar__submit__error a {
        width: 1.5em;
        height: 1.5em;
        color: #fff;
        background-color: #ff0000;
        border: solid 1px #fff;
        border-radius: 0.2em;
        margin-left: 0.5em;
        text-align: center; }
        .addPicture__sidebar__submit__error a:hover {
          cursor: pointer; }
      .addPicture__sidebar__submit__error button {
        background: #ff0000;
        border: solid 1px #cfcfcf;
        border-radius: 0.3em;
        cursor: pointer;
        color: #cfcfcf;
        text-decoration: none;
        text-align: center;
        width: 1.5em;
        height: 1.5em; }

.selector-button-template, .feed__sidebar__categories button, .addPicture__sidebar__selectors button {
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background-color: #1f1f1f;
  border: solid 1px #fff;
  border-radius: 0.5em;
  color: #cfcfcf;
  transition: all 0.1s; }
  .selector-button-template:hover, .feed__sidebar__categories button:hover, .addPicture__sidebar__selectors button:hover {
    background-color: #00c2bf;
    color: #fff;
    cursor: pointer; }

.contacts {
  background-color: #1f1f1f;
  height: 100vh;
  padding: 1em 0 0 1em; }
  .contacts h1 {
    color: #00c2bf;
    margin-bottom: 1em; }
  .contacts__list {
    display: flex; }
    .contacts__list a {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      background-color: #1f1f1f;
      padding: 1em;
      width: 10em;
      text-decoration: none;
      border: 1px solid #00c2bf;
      border-radius: 0.5em;
      color: #00c2bf;
      margin-right: 1.5em; }
      .contacts__list a:hover {
        padding: 0.8em;
        cursor: pointer;
        color: #cfcfcf; }
        .contacts__list a:hover img {
          width: 2.3em;
          height: 2.3em; }
      .contacts__list a img {
        width: 2em;
        height: 2em;
        margin-right: 0.5em; }

.selector-button-template, .feed__sidebar__categories button, .addPicture__sidebar__selectors button {
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background-color: #1f1f1f;
  border: solid 1px #fff;
  border-radius: 0.5em;
  color: #cfcfcf;
  transition: all 0.1s; }
  .selector-button-template:hover, .feed__sidebar__categories button:hover, .addPicture__sidebar__selectors button:hover {
    background-color: #00c2bf;
    color: #fff;
    cursor: pointer; }

.feed__nav__mobile {
  display: none;
  animation: ease-in 15ms;
  font-size: 4em; }
  .feed__nav__mobile__selectors {
    position: absolute;
    max-width: 50%;
    height: 100%;
    background-color: #1f1f1f;
    z-index: 10; }
  .feed__nav__mobile__sidebar__btn {
    text-decoration: none;
    background-color: #1f1f1f;
    color: #00c2bf;
    border: solid 1px #00c2bf;
    border-radius: 0.1em;
    padding: 0 0.2em;
    float: right;
    font-size: 1em; }
  .feed__nav__mobile__searchBar {
    display: flex;
    align-items: center;
    color: #cfcfcf;
    font-size: 1em;
    border: 1px solid #505050;
    width: 88%; }
    .feed__nav__mobile__searchBar button {
      background-color: transparent;
      border: none;
      width: 5em;
      height: 5em; }
      .feed__nav__mobile__searchBar button img {
        width: 4em;
        height: 4em; }
    .feed__nav__mobile__searchBar input {
      background-color: transparent;
      color: #cfcfcf;
      font-size: 1em;
      border: none;
      outline: none;
      width: 100%; }

.selector-button-template, .feed__sidebar__categories button, .addPicture__sidebar__selectors button {
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background-color: #1f1f1f;
  border: solid 1px #fff;
  border-radius: 0.5em;
  color: #cfcfcf;
  transition: all 0.1s; }
  .selector-button-template:hover, .feed__sidebar__categories button:hover, .addPicture__sidebar__selectors button:hover {
    background-color: #00c2bf;
    color: #fff;
    cursor: pointer; }

.settings__wrapper {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 100vh;
  background-color: #1f1f1f; }
  .settings__wrapper h1 {
    font-size: 3em;
    padding: 0.5em 0 2em 2em;
    color: #00c2bf; }
  .settings__wrapper p {
    color: #cfcfcf;
    font-size: 1.5em;
    padding-left: 4em; }

@media (max-width: 1512px) {
  .pictureBlock__image {
    height: 12em; }
    .pictureBlock__image__info {
      transform: translatey(90%) translatex(5%);
      max-width: 16em;
      height: 6em;
      font-size: 14px; } }
@media (max-width: 1312px) {
  .pictureBlock__image {
    height: 10em; }
    .pictureBlock__image__info {
      transform: translatey(60%) translatex(5%);
      max-width: 16em;
      font-size: 12px; }

  * {
    font-size: 13px; }

  .addPicture__load {
    min-width: 50%; }

  .picture__wrapper__sidebar h1 {
    font-size: 2em; } }
@media (max-width: 984px) {
  .pictureBlock__image {
    height: 8em; }
    .pictureBlock__image__info {
      transform: translatey(60%) translatex(5%);
      max-width: 16em;
      height: 5em;
      font-size: 10px; }

  .addPicture__load {
    min-width: 60%; }

  .feed__sidebar__categories button {
    font-size: 8px; }

  * {
    font-size: 11px; } }
@media (max-width: 836px) {
  .pictureBlock__image {
    height: 8em; }
    .pictureBlock__image__info {
      transform: translatey(80%) translatex(5%);
      max-width: 16em;
      height: 5em;
      font-size: 8px; }

  .addPicture__load {
    min-width: 70%; } }
@media (max-width: 712px) {
  .addPicture {
    flex-direction: column; }
    .addPicture__sidebar {
      padding: 1em;
      font-size: 1.4em;
      width: 80%; }
      .addPicture__sidebar__title input {
        font-size: 2em;
        width: 100%; }
      .addPicture__sidebar__selectors button {
        font-size: 1.5em; }
      .addPicture__sidebar__submit a {
        font-size: 2em;
        margin-bottom: 1em; } }
@media (max-width: 615px) {
  * {
    font-size: 9px; }

  .home__page {
    font-size: 2em;
    align-items: center; }
    .home__page h2 {
      display: none; }
    .home__page__btn {
      font-size: 2em;
      margin-top: 2em;
      width: 100%; }

  .pictureBlock {
    min-width: 33%; }
    .pictureBlock__image {
      height: 8em; }
      .pictureBlock__image__info {
        transform: translatey(60%) translatex(5%);
        max-width: 18em;
        height: 5em;
        font-size: 8px; }

  .feed__nav__mobile {
    display: flex; }
  .feed__wrapper {
    flex-flow: column wrap;
    justify-content: start; }
  .feed__sidebar h3 {
    font-size: 2.5em; }
  .feed__sidebar__pc {
    display: none; }
  .feed__sidebar__categories button {
    font-size: 1.5em; }
  .feed__sidebar__mobile {
    display: flex;
    flex-direction: column;
    margin-right: 0.5em; }
    .feed__sidebar__mobile button {
      font-size: 25px; }
    .feed__sidebar__mobile a {
      font-size: 25px; }
    .feed__sidebar__mobile__selectors button {
      font-size: 15px; }

  .picture__wrapper {
    flex-flow: column wrap; }
    .picture__wrapper__image {
      width: 100%; }
      .picture__wrapper__image img {
        align-items: center;
        width: 100%; }

  .header {
    height: 6em; }
    .header__logo {
      width: 6em; }
    .header__nav {
      display: flex; }
      .header__nav__settings {
        display: none; }
      .header__nav__link {
        display: none; }
      .header__nav button {
        display: block !important; }

  .footer__info a {
    font-size: 2em;
    line-height: 3em; }

  .contacts h1 {
    font-size: 5em; }
  .contacts__list {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
    .contacts__list a {
      width: 90%;
      font-size: 3em;
      margin-right: 0;
      margin-bottom: 1em; }
      .contacts__list a img {
        width: 4em;
        height: 4em; } }
@media (max-width: 506px) {
  .pictureBlock__image {
    height: 8em; }
    .pictureBlock__image__info {
      transform: translatey(70%) translatex(5%);
      max-width: 15em;
      height: 5em;
      font-size: 8px; }

  .feed__sidebar__mobile {
    display: block;
    max-width: 55%; }
    .feed__sidebar__mobile__selectors button {
      font-size: 15px; }

  .addPicture__sidebar {
    width: 100%; } }
@media (max-width: 406px) {
  .pictureBlock {
    min-width: 50%; }
    .pictureBlock__image {
      height: 10em; }
      .pictureBlock__image__info {
        transform: translatey(60%) translatex(5%);
        max-width: 18em;
        height: 6.5em;
        font-size: 8px; }

  .feed__sidebar__pc {
    display: none; }
  .feed__sidebar__categories button {
    font-size: 1.5em; }
  .feed__sidebar__mobile {
    display: block;
    max-width: 55%; }
    .feed__sidebar__mobile__selectors button {
      font-size: 15px; }

  .header__nav__mobile a {
    width: 60%; }

  .footer__info a {
    font-size: 1.6em; } }
@media (max-width: 315px) {
  .pictureBlock {
    min-width: 50%; }
    .pictureBlock__image {
      height: 11em; }
      .pictureBlock__image__info {
        transform: translatey(60%) translatex(5%);
        max-width: 15em;
        height: 6.5em;
        font-size: 8px; }

  .feed__sidebar__pc {
    display: none; }
  .feed__sidebar__categories button {
    font-size: 11px; }
  .feed__sidebar__mobile {
    display: block;
    max-width: 55%; }
    .feed__sidebar__mobile__selectors button {
      font-size: 6px; } }
@media (max-width: 275px) {
  .pictureBlock {
    min-width: 50%; }
    .pictureBlock__image {
      height: 11em; }
      .pictureBlock__image__info {
        transform: translatey(110%) translatex(5%);
        max-width: 18em;
        height: 6.5em;
        font-size: 6px; }

  .feed__sidebar__pc {
    display: none; }
  .feed__sidebar__categories button {
    font-size: 1em; }
  .feed__sidebar__mobile {
    display: block;
    max-width: 55%; }
    .feed__sidebar__mobile__selectors button {
      font-size: 9px; } }

/*# sourceMappingURL=globals.css.map */
