$primary-color: #066d42;
$secondary-color: #ff2e70;
$black-color: #000;
$white-color: #fff;
$background-color: #fff;
$text-light: #000;
$text-red: #ff0000;

:export{
  primaryColor: $primary-color;
}




