$primary-color: #066d42;
$secondary-color: #ff2e70;
$black-color: #000;
$white-color: #fff;
$background-color: #fff;
$text-light: #000;
$text-red: #ff0000;


.selector-button-template{
  padding: 0.2em 0.5em 0.2em 0.5em ;
  margin: 0.2em 0.2em 0.2em 0.2em ;
  background-color: $background-color;
  border: solid 1px $black-color;
  border-radius: 0.5em ;
  color: $text-light;
  font-weight: bold;
  transition: all 0.1s;
  &:hover{
    background-color: $primary-color;
    color: $white-color;
    cursor: pointer;
  }
}

