@import "../variables.module";
.addPicture{
  display: flex;
  background: $background-color;
  padding-top: 1em;
  min-height: 100vh;
  &__load{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 40%;
    aspect-ratio:  1/1;
    margin: 0 2em 1em 1em;
    &::after{
      content: "";
      position: absolute;
      min-width: 100%;
      height: 100%;
      background-color: black;
      opacity: 60%;
      border: solid 2px $primary-color;
      border-radius: 0.5em;
    }
    &__input{
      isolation: isolate;
      z-index: 99;
      p{
        color: $text-light
      }
      input{
        width: 15em;
        height: 2em;
        background: lighten($background-color, 15%);
        border: $text-light;
        color: $text-light;
      }
    }
  }
  &__sidebar{
    display: flex;
    flex-flow: wrap column;
    p{
      font-size: 2em;
      color: $text-light;
    }
    &__title{
      padding-bottom: 2em;
      input{
        width: 15em;
        height: 2em;
        background:lighten( $background-color, 15%);
        border: $text-light;
        color: $text-light;
      }
    }
    &__selectors{
      padding-bottom: 2em;
      button{
        @extend .selector-button-template;
      }
    }
    &__submit{
      a{
        background: $background-color;
        border: solid 1px $primary-color;
        border-radius: 0.3em;
        color: $text-light;
        text-decoration: none;
        text-align: center;
        padding: 0.2em 0.5em 0.2em 0.5em ;
        width: 7em;
        height: 1.5em;
        &:hover{
          cursor: pointer;
          background-color: $primary-color;
          border: solid 1px $white-color;
          color: $white-color;
        }
      }
      &__error{
        margin-bottom: 0.5em;
        p{
          color: $text-red;
          font-size: 1em;
        }
        a{
          width: 1.5em;
          height: 1.5em;
          color: $white-color;
          background-color: $text-red;
          border: solid 1px $white-color;
          border-radius: 0.2em;
          margin-left: 0.5em;
          text-align: center;
          &:hover{
            cursor: pointer;
          }
        }
        button{
          background: $text-red;
          border: solid 1px $text-light;
          border-radius: 0.3em;
          cursor: pointer;
          color: $text-light;
          text-decoration: none;
          text-align: center;
          width: 1.5em;
          height: 1.5em;
        }
      }
    }
  }
}