@import "../../../variables.module";

.picture__wrapper{
  display: flex;
  justify-content: center;
  &__image{
    aspect-ratio: auto;
    width: 30%;
    align-items: center;
    img{
      width: 100%;
    }
  }
  &__sidebar{
    margin-left: 5em;
    width: 30%;
    padding-top: 2em;
    h1{
      color: $secondary-color;

    }
    h2{
      color: $secondary-color;
      margin: 1em  0;
    }
    &__description{
      margin-top: 1em;
      font-size: 1.5em;
    }
    &__selectors{
      display: flex;
      flex-flow: row wrap;
      color: $text-light;
      max-width: 80%;
      row-gap: 0.2em;
      span{
        margin-right: 1em;
        border: solid 1px $primary-color;
        border-radius: 0.5em;
        background: $background-color;
        padding: 0.3em 0.5em 0.3em 0.5em ;

      }
    }
    &__fruitMenu{
      img{
        width: 2em;
        height: 2em;
      }
      &__btn{
        display: flex;
        align-items: center;
        font-size: 1.5em;
        font-weight: bold;
        color: $secondary-color;
        margin-top: 0.5em;
      }
      &__list{
        display: flex;
        position: relative;
        flex-flow: row wrap;
        background-color: rgba(255,255,255,0.5);
        border: solid 2px $primary-color;
        border-radius: 0.5em;
        padding: 1em;
        max-width: 100% ;
        span{
          margin: 0.2em;
        }
        &__close{
          position: absolute;
          top: 0;
          right: 0;
          margin: 1em;
          cursor: pointer;
        }
      }
    }
    &__order{
      margin-top: 1em;
      span{
        display: block;
        font-size: 2em;
        color: $secondary-color;
        font-weight: bold;
      }
      a{
        display: block;
        border: solid 2px $primary-color;
        border-radius: 0.5em;
        width: 4em;
        height: 4em;
        transition: all ease-in 0.15s;
        &:hover{
          border: solid 3px $primary-color;
          img{
            animation: flick forwards 0.4s;
          }
        }
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@keyframes flick {
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  33%{
    transform: translateY(-50%);
    opacity: 0;
  }
  66%{
    transform: translateY(50%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}