@import "../../variables.module";
.feed__nav__mobile{
  display: none;
  animation: ease-in 15ms;
  font-size: 4em;
  &__selectors{
    position: absolute;
    max-width: 50%;
    height: 100%;
    background-color: $background-dark;
    z-index: 10;
  }
  &__sidebar__btn{
    text-decoration: none;
    background-color: $background-dark;
    color: $teal-color;
    border: solid 1px $teal-color;
    border-radius: 0.1em;
    padding: 0 0.2em;
    float: right;
    font-size: 1em;
  }
  &__searchBar{
    display: flex;
    align-items: center;
    color: $text_light;
    font-size: 1em;
    border: 1px solid darken($text-light, 50%);
    width: 88%;
    button{
      background-color: transparent;
      border: none;
      width: 5em;
      height: 5em;
      img{
        width: 4em;
        height: 4em;
      }
    }
    input{
      background-color: transparent;
      color: $text-light ;
      font-size: 1em;
      border: none;
      outline: none;
    }
  }
}